body
{
    width: 100%;
}
header{
    background-image: url("images/logogood.jpg");
    background-position:center;
    background-repeat:no-repeat;
    height: 240px;
}

.form{
    margin-left: 460px;
    margin-top: 40px;
}



#button{
    margin-left: 150px;
}
 
footer{
    margin-top: 40px;
}

a{
    margin-left: 150px;
    margin-top: 30px;
}