body{
    font-family: 'Lato', sans-serif;
}

header {
    height: 300px;
    background-image: url("images/179H.jpg");
    background-size: cover;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #664455;
    border: 5px solid #664455;
    font-weight: 700;
    font-size: 50px;
    position:absolute;
    margin: 110px 165px 100px 450px;
    padding: 20px;
}

.subtitle{
    text-transform:uppercase;
    color: #664455;
    position: absolute; 
    margin: 250px 165px 100px 490px;
}

.myPicture{
    width: 150px;
    height: 155px; 
    float: left;
    border-radius: 50%; 
    border: 2px dotted #664455;
    padding: 5px;   
}
.logo{
    margin:30px 0px 30px 35px;
    //margin-left: 35px;
    float: left;
    clear: left;
}
.content_right{
    float: right;
    margin-right:200px;
    margin-top: 70px;
    text-align:left;
    font-size: 15px;
    clear:right;

}

.content_left{
    margin: 30px 30px 30px 30px;
}

#my_assignments{
    background: rgba(187, 153, 170, 0.5);
    border: 1px dotted  #664455;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight:700;
}

.links{
    display:inline;
    padding: 10px; 
    text-decoration: none;
    color:#443322;


}

.links:hover{
    color:#443322;
}

.links:visited {
    color: #443322;
    text-decoration: none;
}

footer{
    height: 90px;
    background-image: url("images/179H.jpg");
    background-size: cover;
    text-align:center;
    font-size: 15px;
    color:#664455;
    clear: both;
}

.copy{
    padding-top:60px;
}
